<nav class="navbar d-flex flex-column justify-content-between align-items-start bg-body-tertiary vh-100 py-32">
  <div class="w-100">
    <a href="#" class="ps-32">
      <img
        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e33e944d6b136d33939dadf6358d65c76ec06e49/week5/logo-ANSWER.svg"
        alt=""
      />
    </a>
    <ul class="navbar-nav py-4">
      <li class="nav-item py-12 ps-32">
        <a href="#" class="fw-bold"
          ><span class="material-symbols-outlined align-bottom pe-3">
            insert_chart </span
          >Dashboard</a
        >
      </li>
      <li class="nav-item py-12 ps-32"><a href="#" class="fw-bold"><span class="material-symbols-outlined align-bottom pe-3">
        forum</span
      >Question</a></li>
      <li class="nav-item py-12 ps-32"><a href="#" class="fw-bold"><span class="material-symbols-outlined align-bottom pe-3">
        assignment</span
      >Assignment</a></li>
      <li class="nav-item py-12 ps-32"><a href="#" class="fw-bold"><span class="material-symbols-outlined align-bottom pe-3">
        video_library</span
      >Course</a></li>
      <li class="nav-item py-12 ps-32 arrived"><a href="#" class="fw-bold text-success"><span class="material-symbols-outlined align-bottom pe-3">
        group</span
      >Admin</a></li>
      <li class="nav-item py-12 ps-32"><a href="#" class="fw-bold"><span class="material-symbols-outlined align-bottom pe-3">
        settings</span
      >Settings</a></li>
    </ul>
  </div>
  <div class="d-flex align-items-center ps-32">
    <img src="../assets/images/andychen.jpeg" alt="andychen" class="admin-now rounded-circle me-3">
    <div>
      <span class="fw-bold">Andy Chen</span>
      <p class="gray">andy0401@mail.com</p>
    </div>
  </div>
</nav>
