.main {
  padding: 32px;
}
.Page {
  margin-top: 64px;
}
.px-6{
  padding-left: 6px;
  padding-right: 6px;
}
.add-new-admin:hover,
.search:hover,
.noti:hover {
  color: #198754;
}
.table{
  th,td,span{
    color: $gray-900;
  }
}